%section.intro
  %ul
    %li
      .intro_panel.need_help
        %h1 Have an open source project?
        %p Need help with a feature, bug or documentation? Ask the community for help.
    %li
      .intro_panel.help
        %h1 Want to be a hero?
        %p 
          Want to help with open source, but not sure where to start? Find a project
          that matches your skills and experience level, and help contribute to
          open source.