= render 'intro'

%section.large_widget
  %section.help_requests
    %h1 Requests for Help
    %ul
      =render @home.help_requests

%section.small_widget.last
  %section.help_requests
    %h1 League of Heroes
    %ul
      %li ryanbrunner
      %li tenderlove
      %li dhh