-if resource.errors.any?
  =render 'error_summary', :object => resource, :as => 'resource'

=simple_form_for resource do |f|
  =f.association :requester, :as => :hidden
  =f.fields_for resource.project do |x|
    =x.input :repository
  =f.input :title
  =f.input :description
  =f.submit "Help me!"
