@import 'compass';

@import 'blueprint';

@mixin panel {
  border: solid 2px #333;
  padding: 5px;
  margin: 10px 0px;
  @include border-radius(2px);
}

@mixin title {
  background-image:url(/assets/noise.png);
  position: relative;
  top: -5px;
  left: -5px;
  padding: 5px 20px;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  display: block;
  width: 60%;
  background-color: #FF9;
}